.App {
  text-align: center;
}

.App-logo {
  animation: App-logo-spin infinite 20s linear;
  height: 40vmin;
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}
.row{
  margin: auto 100px;
  margin-bottom: 20px;
}
.panel{
  margin: auto 100px;
  margin-top: 50px;
}
.page-header{
  text-align: left;
  margin-left: 50px;
}
.form-inline{
  display: flex;
  justify-content: space-between;
}
.panel-heading{
  text-align: center;
}
.dropdown-item{
  display: block;
  width: 150px;
  text-align: left;
  background: white;
  position: relative;
  padding: 10px 20px;
  border-bottom: 1px solid #c8ced3;
}
.sort-name{
  float: left;
  margin-left: 65px;
  font-size: 24px;
  background: #5cb85c;
  border-radius: 5px;
  text-align: center;
}
@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
